* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.gallery {
    position: absolute;
    top: 0;
    bottom: -40px;
    min-height: 500px;
    width: 100%;
    background: lightsalmon;

    display: flex;
    overflow: auto;
}


.section {
    width: 100vw;
    min-width: 1400px;
    flex-shrink: 0;
    position: relative;
}

.section:after, .section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: black;
}

.section:before {
    left: 0;
}

.section:after {
    right: 0;
}

.picture {
    background: red;
    position: absolute;
}

.picture__image {
    position: relative;
    width: 100%;
    height: 100%;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    object-fit: contain;
    object-position: center;
}

.picture__caption {
    position: absolute;
    top: calc(100% + 15px);
    padding: 10px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
}

.picture__caption--small {
    font-size: 0.8em;
}


/* Первый зал: монализа и тигр */

[data-section="first"] {

}

[data-picture="monalisa"] {
    left: calc(35% - 155px);
    top: 60px;

    width: 310px;
    height: 470px;
}

[data-picture="tiger"] {
    top: 330px;
    left: calc(66% - 160px);

    width: 319px;
    height: 244px;
}

/* Второй зал: Купание красного кота */

[data-section="second"] {

}

[data-picture="redhorse"] {
    left: 0; right: 0;
    top: 100px;
    margin: 0 auto;
    width: 517px;
    height: 455px;
}


/* Египетский зал */ 
[data-section="egypt"] {
    background-color: sandybrown;
}

[data-section="egypt"] .mummy {
    position: absolute;
    bottom: 40px;
    left: 30px;
    background: url(images/mummy.png) center / 110% auto no-repeat;
    width: 520px;
    height: 710px;
}

[data-picture="egyptwall"] {
    right: 50px;
    top: 50px;
    width: 727px;
    height: 455px;
}

/* Мультяшный зал */ 

[data-section="mult"] {
    background-color: red;
}

[data-picture="homer1"] {
    top: 100px;
    width: 566px;
    height: 300px;
    left: 50%;
}

[data-picture="homer2"] {
    top: 100px;
    width: 250px;
    height: 142px;
    left: 10%;
}

[data-picture="bojack"] {
    top: 320px;
    left: calc(25% - 120px);
    width: 355px;
    height: 200px;
    
}

[data-picture="hillking"] {
    top: 460px;
    width: 220px;
    height: 165px;
    left: 48%;
} 

/* Буквальный зал */ 

[data-section="literally"] {
    background-color: aqua;
}










[data-picture="comics1"] {
    top: 100px;
    width: 20%;
    height: 35%;
    left: 4%;
}

[data-picture="comics2"] {
    top: 100px;
    width: 20%;
    height: 35%;
    left: 28%;
}

[data-picture="comics3"] {
    top: 100px;
    width: 20%;
    height: 35%;
    left: 52%;
}

[data-picture="comics4"] {
    top: 100px;
    width: 20%;
    height: 35%;
    left: 74%
}
