@import "https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900";
html{display:grid;min-height:100%}
#closed{
    position: fixed;
    top: 0; height: 100vh;
    left: 0;
    width: 100vw;
    display:grid;
    background:#183059
}
.container{position:relative;margin:auto;overflow:hidden;width:650px;height:480px}
h1{font-family:"Lato",sans-serif;text-align:center;margin-top:2em;font-size:1em;text-transform:uppercase;letter-spacing:5px;color:#F6F4F3}
#timer{color:#F6F4F3;text-align:center;text-transform:uppercase;font-family:"Lato",sans-serif;font-size:.7em;letter-spacing:5px;margin-top:25%}
.days,.hours,.minutes,.seconds{display:inline-block;padding:20px;width:100px;border-radius:5px}
.days{background:#EF2F3C}
.hours{background:#F6F4F3;color:#183059}
.minutes{background:#276FBF}
.seconds{background:#F0A202}
.numbers{font-family:"Montserrat",sans-serif;color:#183059;font-size:5em}
.white{position:absolute;background:#F6F4F3;height:85px;width:75px;left:30%;top:2%}
.white .triangle{border-bottom:14px solid #F6F4F3}
.white .string{background:#F6F4F3;border:1px solid #F6F4F3}
.red{position:absolute;background:#EF2F3C;left:18%;top:9%;height:65px;width:70px}
.red .triangle{border-bottom:14px solid #EF2F3C}
.red .string{background:#EF2F3C;border:1px solid #EF2F3C}
.blue{position:absolute;background:#276FBF;height:80px;width:80px;left:60%;top:5%}
.blue .triangle{border-bottom:14px solid #276FBF}
.blue .string{background:#276FBF;border:1px solid #276FBF}
.balloon{border:1px solid #000;border-radius:50% 50% 50% 50%/ 40% 40% 60% 60%;z-index:2}
.eye{position:absolute;width:7px;height:7px;top:40%;left:22%;background:#000;border-radius:50%}
.eye:after{content:'';left:35px;width:7px;height:7px;border-radius:50%;background:#000;position:absolute}
.mouth{position:absolute;top:45%;left:43%;width:7px;height:7px;border-radius:50%}
.happy{border:2px solid;border-color:transparent #000 #000 transparent;transform:rotate(45deg)}
.triangle{position:absolute;left:40%;bottom:-10%;width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent}
.string{position:absolute;height:70px;width:1px;left:48%;top:100%;z-index:-1}
.star{width:20px;height:20px;background:#F6F4F3;-webkit-clip-path:polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);clip-path:polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%)}
.star-red{width:30px;height:30px;margin-left:51px;margin-top:-5px;background:#EF2F3C;-webkit-clip-path:polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);clip-path:polygon(50% 0%,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%)}
footer{position:absolute;bottom:0;right:0;text-transform:uppercase;padding:10px;font-family:"Lato",sans-serif;font-size:.7em}
footer p{letter-spacing:3px;color:#EF2F3C}
footer a{color:#F6F4F3;text-decoration:none}
footer a:hover{color:#276FBF}


@keyframes shining {
    from {
        filter: drop-shadow(0 0 10px currentColor);
    }
    to {
        filter: drop-shadow(0 0 25px currentColor);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #6b0000;
}

#map {
    position: fixed;
    top: 20px; bottom: 20px;
    left: 20px; right: 20px;
    overflow: auto;
    background-color: white;
    z-index: 1000;
    padding: 20px;
}

.increase {
    cursor: pointer;
}

#rules {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px 40px;
}

.rules-list {
    background: white;
    padding: 30px 20px 60px;
    font-size: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 4px;
}

.rules-list hr {
    margin: 30px 0;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
    width: 30px;
    margin-right: 10px;
    height: 30px;
    border: 1px solid darkblue;
    border-radius: 3px;
    cursor: pointer;
}

input:checked + .checkbox:before {
    content: '✓';
    position: relative;
    top: -35px;
}

.rules-list__title {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    text-align: center;
    
    margin: 0 auto 1em;
}

.rules-list__text {
    margin: 1em auto;
}

#rulesError {
    margin: 1em 0;
    color: red;
}

.rules-list .small {
    font-size: 10px;
    margin: 30px 0;
}

.rules-list .exit {
    height: 50px;
    background: #030356;
    color: white;
    display: inline-block;
    padding: 0 20px;
    line-height: 48px;
    border-radius: 8px;
    cursor: pointer;
}

.rules-list .exit:hover {
    background: #3a3a69;
}

.rule {
    margin: 0 auto 0.5em;
}

#image {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: contain;
    background-position: center;
    z-index: 1000;
    display: none;
    background-repeat: no-repeat;;
}

.gallery {
    position: absolute;
    top: 0;
    bottom: -40px;
    min-height: 750px;

    width: 100%;
    background: lightsalmon;

    display: flex;
    overflow: auto;
}

.active {
    cursor: pointer;
    color: goldenrod;
}

.active:hover {
    animation-name: shining;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

.wish {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity 400ms;
    z-index: 100;
    color: white;
}

.wish__wrapper {
    position: absolute;
    right: 20px;
    left: 20px;
    width: 450px;
    min-height: 300px;
    top: 50px;
    max-width: calc(100% - 40px);
    margin: auto;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.wish__title {
    font-size: 2em;
    z-index: 20;
    font-weight: bold;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.wish__text {
    justify-content: center;
    flex-grow: 1;
    display: flex;
    z-index: 20;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

.section {
    width: 100vw;
    min-width: 1400px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.section:after, .section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background: url(images/walls/5.jpg) center / cover no-repeat;
    z-index: 3;
}

.section:before {
    left: -30px;
}

.section:after {
    right: -30px;
}

.section__title {
    position: absolute;
    top: 10px;
    min-width: 200px;
    height: 50px;
    background: url(images/table.png) center / 100% 100% no-repeat;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: bold;
    left: 100px;
    color: #6b0000;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.section__floor {
    height: 200px;
    bottom: -35px;
    position: absolute;
    z-index: 2;
    left: 0px; right: 0px;
    overflow: hidden;
}

.section__floor span {
    position: absolute;
    top: 0; bottom: 0;
    left: -500px; right: -500px;
    transform: perspective(1000px) rotate3d(0.3,0,0,62deg)
}

.section__granny {
    width: 200px;
    height: 500px;
    position: absolute;
    z-index: 5;
    left: 30px;
    bottom: 50px;

}

.section__granny .speech {
    position: absolute;
    bottom: 80%;
    left: 50%;
    filter: drop-shadow(2px 4px 6px black);
    display: none;
}

.section__granny.says .speech {
    display: block;
}

.speech .first {
    width: 14px;
    height: 14px;
    background: white;
    position: absolute;
    border-radius: 10px / 10px;
    bottom: 0;
    display: none;
    left: 0;
}

.speech .second {
    width: 30px;
    height: 35px;
    background: white;
    position: absolute;
    bottom: 92px;
    left: 20px;
    transform: skew(134deg, -74deg);
}

.speech .text {
    width: 252px;
    height: 132px;
    background: white;
    position: absolute;
    border-radius: 50%;
    bottom: 50px;
    left: -30px;
    color: #6b0000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.picture {
    position: absolute;
}

.picture__image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 40px solid #353535;
}

.picture img,
.picture video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    object-position: center;
}

.picture__caption {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    height: 40px;
    background: url(images/tablelong.png) center / 100% 100% no-repeat;
    text-align: center;
    line-height: 40px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;
    color: #6b0000;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.picture__caption--long {
    background: url(images/tablelong.png) center / 100% 100% no-repeat;
}

.picture__message {
    position: absolute;
    top: calc(100% + 70px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: url(images/present.png) center / contain no-repeat;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.picture__line {
    position: absolute;
    top: calc(100% + 15px);
    left: 0; right: 0;
    
    white-space: nowrap;
    height: 40px;
    background: url(images/tablelong.png) center / 100% 100% no-repeat;
    text-align: center;
    line-height: 40px;
    padding: 0 35px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.picture__line > span {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
}

.picture__line span span {
    position: relative;
}

.frame1 {
    border-width: 40px;
    border-style: solid;
    border-image: url(images/frames/frame1.png) 445 430 stretch;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.frame1:before {
    background: #353535;
    content: '';
    position: absolute;
    top: -12px;
    bottom: -15px;
    left: -12px;
    right: -12px;
}

.trash-book {
    position: absolute;
    bottom: 6px;
    right: 80px;
    width: 200px;
    height: 350px;
    background: url(images/trash.gif) bottom / contain no-repeat;
    cursor: pointer;
    z-index: 3;
}

/* Ð’Ñ…Ð¾Ð´ */

    [data-section="entrance"]:before {
        display: none;
    }

    [data-section="entrance"] {
        background: 
            url(images/entrance/wall.jpg) center / 200px auto repeat;
    }
    [data-section="entrance"] .section__floor span {
        background: url(images/entrance/floor.jpg) center / 500px;
    }

    .entrance__title {
        max-width: 500px;
        padding: 30px 40px;
        background: url(images/table.png) center / 100% 100% no-repeat;
        position: absolute;
        text-align: center;
        line-height: 1.4;
        font-size: 22px;
        font-weight: bold;
        color: black;
        top: 50px;
        left: 0;
        right: 0;
        margin:  auto;
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    }

    .rules-sheet, .map-sheet {
        width: 150px;
        background:white;
        position:absolute;
        top: 300px;
        height: 250px;
        cursor: pointer;
        padding: 10px;
        font-size:14px;
        font-weight: bold;
        font-family: 'Pacifico', cursive;
        text-align: center;
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    }

    .rules-sheet {
        left: calc(50% - 400px);
    }
     .map-sheet {
        left: calc(50% + 250px);
    }

/* ÐŸÐ°Ñ€Ð°Ð´Ð½Ñ‹Ð¹ Ð·Ð°Ð» */

    [data-section="ceremonial"] {
        min-width: 2101px;
        background: 
            url(images/ceremonial/wall.jpg) center / 200px auto repeat;
    }

    [data-section="ceremonial"] .section__floor span {
        background: url(images/ceremonial/floor.jpg) center / 500px;
    }

    [data-section="ceremonial"] .section__granny {
        background: url(images/ceremonial/granny.png) bottom / contain no-repeat;
        bottom: -28px;
        width: 232px;
        height: 520px;
    }

    [data-section="ceremonial"] .section__granny .speech {
        bottom: 90%;
    }

    [data-picture="tiger"] {
        top: 177px;
        left: 351px;
        width: 360px;
        height: 292px;
    }

    [data-picture="monalisa"] {
        left: 878px;
        top: 60px;
        width: 340px;
        height: 470px;
    }

    [data-picture="redhorse"] {
        left: 1371px;
        top: 78px;
        width: 488px;
        height: 440px;
    }


/* Ð•Ð³Ð¸Ð¿ÐµÑ‚ÑÐºÐ¸Ð¹ Ð·Ð°Ð» */ 
    [data-section="egypt"] {
        min-width: 3800px;
        background: 
            url(images/egypt/wall.jpg) center / 200px auto repeat;
    }

    [data-section="egypt"] .section__floor span {
        background: url(images/egypt/floor.jpg) center / 500px;
        transform: perspective(2000px) rotate3d(0.3,0,0,62deg);
    }

    [data-section="egypt"] .section__granny {
        background: url(images/egypt/granny.png) bottom / contain no-repeat;
        width: 272px;
        bottom: 0;
    }

    [data-section="egypt"] .mummy {
        position: absolute;
        bottom: 40px;
        left: 3245px;
        background: url(images/egypt/mummy.png) center / 110% auto no-repeat;
        width: 468px;
        height: 710px;
        z-index: 3;
    }

    [data-section="egypt"] .mummy .head {
        position: absolute;
        top: 140px;
        left: 286px;
        width: 100px;
        height: 100px;
        background: url(images/egypt/head-2.png) center / contain no-repeat;
    }

    [data-picture="egypt1"] {
        left: 350px;
        top: 163px;
        width: 391px;
        height: 301px;
    }

    [data-picture="beetle"] {
        left: 877px;
        top: 191px;
        width: 250px;
        height: 251px;
    }

    @keyframes beetle {
        from {
            transform: rotate(0deg);
        } 
        to {
            transform: rotate(360deg);
        }
    }

    [data-picture="beetle"] .head {
        position: absolute;
        top: 32px;
        left: 46px;
        width: 100px;
        height: 100px;
        transform-origin: 54px 50px;
        background: url(images/egypt/head.png) center / contain no-repeat;
    }

    [data-picture="beetle"] .rotate .head {
        animation-name: beetle;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    [data-picture="egypt4"] {
        left: 1248px;
        top: 50px;
        width: 730px;
        height: 512px;
    }

    

    

    [data-picture="egypt2"] {
        left: 2122px;
        top: 194px;
        width: 404px;
        height: 322px;
    }

    [data-picture="egypt3"] {
        left: 2676px;
        top: 92px;
        width: 439px;
        height: 322px;
    }

/* ÐœÑƒÐ»ÑŒÑ‚ÑÑˆÐ½Ñ‹Ð¹ Ð·Ð°Ð» */ 

    [data-section="mult"] {
        min-width: 2950px;
        background-color: #f9a0af;
    }

    [data-section="mult"] .section__floor span {
        background: #01a19d;
    }

    [data-section="mult"] .section__granny {
        background: url(images/mult/granny.png) bottom / contain no-repeat;
        width: 260px;
    }

    [data-section="mult"] .section__granny .speech {
        bottom: 65%;
    }

    [data-picture="bojack"] {
        top: 100px;
        left: 350px;
        width: 332px;
        height: 376px;
    }

    [data-picture="homer1"] {
        top: 100px;
        width: 541px;
        height: 451px;
        left: 2174px;
    }

    [data-picture="hillking"] {
        top: 30px;
        width: 676px;
        height: 530px;
        left: 1342px;
    } 

    [data-picture="homer2"] {
        top: 139px;
        width: 378px;
        height: 318px;
        left: 833px;
    }

/* Ð—Ð°Ð» ÐºÐ¸Ð½Ð¾ Ð¸ ÑÐµÑ€Ð¸Ð°Ð»Ð¾Ð² */ 

    [data-section="cinema"] {
        color: white;
        min-width: 3166px;
        background: url(images/cinema/wall.jpg) center / 200px repeat;
    }

    [data-section="cinema"] .section__floor span {
        background: url(images/cinema/floor.jpg) center / 500px;
    }

    [data-section="cinema"] .section__granny {
        background: url(images/cinema/granny.png) bottom / contain no-repeat;
        width: 300px;
        bottom: 0px;
    }

    [data-section="cinema"] .section__granny .speech {
        bottom: 85%;
    }

    [data-section="cinema"] .section__granny .paper {
        position: absolute;
        background: url(images/cinema/paper.png) center / contain no-repeat;
        width: 111px;
        height: 70px;
        left: 88px;
        top: 248px;
        transform: scaleX(-1);
    }

    [data-picture="starwars1"] {
        left: 350px;
        top: 129px;
        width: 479px;
        height: 380px;
    }

    [data-picture="got"] {
        left: 959px;
        width: 486px;
        height: 412px;
        top: 100px;
    }

    [data-picture="got"] video {
        margin-left:-20px;
        width: calc(100% + 50px);
        object-fit:fill
    }

    [data-picture="starwars2"] {
        left: 1558px;
        top: 50px;
        width: 340px;
        height: 507px;
    }

    [data-picture="friends"] {
        left: 2072px;
        top: 100px;
        width: 326px;
        height: 400px;
    }

    [data-picture="starwars3"] {
        left: 2563px;
        top: 77px;
        width: 340px;
        height: 445px;
    }

/* Ð‘ÑƒÐºÐ²Ð°Ð»ÑŒÐ½Ñ‹Ð¹ Ð·Ð°Ð» */ 

    [data-section="literally"] {
        background-color: #acc8f0;
        min-width: 2696px;
    }

    [data-section="literally"] .section__floor span {
        background: #f987a1;
    }

    [data-section="literally"] .section__granny {
        background: url(images/literally/granny.png) bottom / contain no-repeat;
        width: 267px;
        height: 556px;
        bottom: -18px;
    }

    [data-section="literally"] .section__granny .speech {
        bottom: 82%;
    }

    [data-section="literally"] [data-picture] {
        width: 350px;
        height: 350px;
        margin: auto;
    }

    [data-picture="comics1"], [data-picture="comics3"], [data-picture="comics5"] {
        top: 50px;
    }

    [data-picture="comics2"], [data-picture="comics4"] {
        top: 140px;
    }

    [data-picture="comics1"] {
        left: 350px;
    }

    [data-picture="comics2"] {
        left: 800px;
    }

    [data-picture="comics3"] {
        left: 1250px;
    }

    [data-picture="comics4"] {
        left: 1700px;
    }

    [data-picture="comics5"] {
        left: 2150px;
    }

/* Ð˜ÑÐ°Ð°ÐºÐ¸ÐµÐ²ÑÐºÐ¸Ð¹ Ð·Ð°Ð» */ 

    [data-section="isaak"] {
        width: 150vw;
        min-width: 2900px;
        background: 
            url(images/isaak/wall.jpg) center / 200px auto repeat;
    }

    [data-section="isaak"] .section__floor span {
        background: url(images/isaak/floor.jpg) center / 500px;
    }

    [data-section="isaak"] .section__granny {
        background: url(images/isaak/granny.png) bottom / contain no-repeat;
        bottom: -20px;
        width: 230px;
        transform: scaleX(-1);
        height: 580px;
    }

    [data-section="isaak"] .section__granny .speech {
        bottom: 88%;
    }

    [data-section="isaak"] .section__granny .speech {
        transform: scaleX(-1);
    }

    [data-picture="isaak1"] {
        top: 142px;
        width: 488px;
        height: 355px;
        left: 350px;
    }

    [data-picture="isaak2"] {
        top: 60px;
        width: 1034px;
        height: 517px;
        left: 1000px;
    }

    [data-picture="isaak2"] video {
        display: block;
        width: calc(100% + 200px);
        height: calc(100% + 100px);
        margin-left: -100px;
        margin-top: -50px;
    }

    [data-picture="isaak3"] {
        top: 120px;
        width: 483px;
        height: 363px;
        left: 2182px;
    }

/* Ð”ÐµÐ¼Ð¾Ð½Ð¸Ñ‡ÐµÑÐºÐ¸Ð¹ Ð·Ð°Ð» */
    [data-section="demon"] {
        min-width: 2600px;
        background: url(images/demon/wall.jpg) center / 200px auto repeat;
    }

    [data-section="demon"] .section__floor span {
        background: url(images/demon/floor.jpg) center / 500px;
    }

    [data-section="demon"] .section__granny {
        background: url(images/demon/granny.png) bottom / contain no-repeat;
        width: 295px;
        height: 563px;
        bottom: 10px;
    }

    [data-section="demon"] .section__granny .speech {
        bottom: 85%;
    }

    [data-picture="demon"] {
        left: 420px;
        top: 50px;
        width: 768px;
        height: 500px;
    }

    [data-picture="demon"] img {
        visibility: hidden;
    }

    [data-picture="demon"] .puzzle {
        position: absolute;
        top: 0; bottom: 0;
        left: 0;
        right: 0;
    }

    [data-picture="demon1"] {
        left: 1300px;
        top: 50px;
        width: 768px;
        height: 500px;
    }

    [data-picture="demon1"] .puzzle {
        position: absolute;
        top: 0; bottom: 0;
        left: 0;
        right: 0;
    }

    .puzzle .cell {
        outline: 2px solid white;
    }

    
    .puzzle-place.finished .cell,
    .puzzle-ground.finished .cell {
        outline: none;
    }

    /* 
        5*3 Ñ„Ñ€Ð°Ð³Ð¼ÐµÐ½Ñ‚Ð¾Ð²
        688 - ÑˆÐ¸Ñ€Ð¸Ð½Ð°
        420 - Ð²Ñ‹ÑÐ¾Ñ‚Ð°
    */

    .puzzle .cell {
        position: absolute;
        background-image: url(images/demon/demon.jpg);
        background-size: 688px 420px;
        background-repeat: no-repeat;
        width: calc(688px / 5);
        height: calc(420px / 3);
        cursor: pointer;
    }

    .puzzle .cell:hover,
    .puzzle .cell.selected {
        filter: brightness(2);
    }
    .puzzle-place.finished .cell:hover,
    .puzzle-place.finished .cell.selected {
        filter: none;
    }

    .puzzle .cell[data-item=""] {
        background-image: none;
        left: 0;
        top: 0;
        cursor: auto;
    }

    .puzzle .cell[data-item="11"] {
        background-position: 0px 0px;
    }
    .puzzle .cell[data-item="12"] {
        background-position: calc(688px / -5) 0px; 
    }
    .puzzle .cell[data-item="13"] {
        background-position: calc(688px / -5 * 2) 0px; 
    }
    .puzzle .cell[data-item="14"] {
        background-position: calc(688px / -5 * 3) 0px;
    }
    .puzzle .cell[data-item="15"] {
        background-position: calc(688px / -5 * 4) 0px;
    }
    
    .puzzle .cell[data-item="21"] {
        background-position: 0px calc(420px / -3);
    }
    .puzzle .cell[data-item="22"] {
        background-position: calc(688px / -5) calc(420px / -3);
    }
    .puzzle .cell[data-item="23"] {
        background-position: calc(688px / -5 * 2) calc(420px / -3);
    }
    .puzzle .cell[data-item="24"] {
        background-position: calc(688px / -5 * 3) calc(420px / -3);
    }
    .puzzle .cell[data-item="25"] {
        background-position: calc(688px / -5 * 4) calc(420px / -3);
    }

    .puzzle .cell[data-item="31"] {
        background-position: 0px calc(420px / -3 * 2);
    }
    .puzzle .cell[data-item="32"] {
        background-position: calc(688px / -5) calc(420px / -3 * 2);
    }
    .puzzle .cell[data-item="33"] {
        background-position: calc(688px / -5 * 2) calc(420px / -3 * 2);
    }
    .puzzle .cell[data-item="34"] {
        background-position: calc(688px / -5 * 3) calc(420px / -3 * 2);
    }
    .puzzle .cell[data-item="35"] {
        background-position: calc(688px / -5 * 4) calc(420px / -3 * 2);
    }

    .puzzle .cell[data-place="11"] {
        left: 0;
        top: 0;
    }
    .puzzle .cell[data-place="12"] {
        left: calc(688px / 5);
        right: 0;
    }
    .puzzle .cell[data-place="13"] {
        left: calc(688px / 5 * 2);
        top:  0;
    }
    .puzzle .cell[data-place="14"] {
        left: calc(688px / 5 * 3);
        top:  0;
    }
    .puzzle .cell[data-place="15"] {
        left: calc(688px / 5 * 4);
        top:  0;
    }

    .puzzle .cell[data-place="21"] {
        left: 0;
        top: calc(420px / 3);
    }
    .puzzle .cell[data-place="22"] {
        left: calc(688px / 5);
        top: calc(420px / 3);
    }
    .puzzle .cell[data-place="23"] {
        left: calc(688px / 5 * 2);
        top: calc(420px / 3);
    }
    .puzzle .cell[data-place="24"] {
        left: calc(688px / 5 * 3);
        top: calc(420px / 3);
    }
    .puzzle .cell[data-place="25"] {
        left: calc(688px / 5 * 4);
        top: calc(420px / 3);
    }

    .puzzle .cell[data-place="31"] {
        left: 0;
        top: calc(420px / 3 * 2);
    }
    .puzzle .cell[data-place="32"] {
        left: calc(688px / 5);
        top: calc(420px / 3 * 2);
    }
    .puzzle .cell[data-place="33"] {
        left: calc(688px / 5 * 2);
        top: calc(420px / 3 * 2);
    }
    .puzzle .cell[data-place="34"] {
        left: calc(688px / 5 * 3);
        top: calc(420px / 3 * 2);
    }
    .puzzle .cell[data-place="35"] {
        left: calc(688px / 5 * 4);
        top: calc(420px / 3 * 2);
    }

/* Ð Ð°Ð±Ð¾Ñ‡Ð¸Ð¹ Ð·Ð°Ð» */

    [data-section="job"] {
        min-width: 4500px;
        background: 
            url(images/job/wall.jpg) center / 200px auto repeat;
    }

    [data-section="job"] .section__floor span {
        background: url(images/job/floor.jpg) center / 500px;
    }

    [data-section="job"] .section__granny {
        background: url(images/job/granny.png) bottom / contain no-repeat;
        bottom: 3px;
        width: 250px;
        height: 569px;
        transform: scaleX(-1);
    }

    [data-section="job"] .section__granny .speech {
        transform: scaleX(-1);
        bottom: 90%;
    }

    .coffeemachine {
        position: absolute;
        bottom: 50px;
        left: 4157px;
        width: 270px;
        z-index: 3;
        height: 686px;
        z-index: 10;
        background: url(images/job/coffeemachine.png) bottom / contain no-repeat;
    }

    .coffeemachine .bean {

    }


    [data-picture="coffee"] {
        left: 313px;
        top: 123px;
        width: 606px;
        height: 344px;
    }

    [data-picture="bears"] {
        left: 1053px;
        top: 40px;
        width: 786px;
        height: 520px;
    }

    [data-picture="vitruvian"] {
        left: 2020px;
        width: 400px;
        height: 400px;
        top: 100px;
    }

    [data-picture="scream"] {
        left: 2642px;
        width: 310px;
        height: 376px;
        top: 124px;
    }

    [data-picture="dali"] {
        left: 3170px;
        width: 359px;
        height: 281px;
        top: 219px;
    }

    [data-picture="gun"] {
        left: 3745px;
        width: 264px;
        height: 360px;
        top: 140px;
    }

/* Ð—Ð°Ð» Ñ„Ð¸Ð·Ð¸Ñ‡ÐµÑÐºÐ¾Ð³Ð¾ Ð·Ð´Ð¾Ñ€Ð¾Ð²ÑŒÑ */

    [data-section="physical"] {
        min-width: 3160px;
        background: 
            url(images/physical/wall.jpg) center / cover repeat;
    }

    [data-section="physical"] .section__floor span {
        background: url(images/physical/floor.png) center / 500px;
    }

    [data-section="physical"] .section__granny {
        background: url(images/physical/granny.png) bottom / contain no-repeat;
        width: 320px;
        bottom: -11px;
    }

    [data-section="physical"] .section__granny .speech {
        bottom: 90%;
    }

    [data-picture="peaches"] {
        left: 350px;
        width: 345px;
        height: 386px;
        top: 100px;
    }

    [data-picture="venera"] {
        left: 843px;
        width: 693px;
        height: 468px;
        top: 50px;
    }

    [data-picture="yoga"] {
        left: 1701px;
        width: 300px;
        height: 300px;
        top: 190px;
    }

    [data-picture="riders"] {
        left: 2175px;
        width: 787px;
        height: 550px;
        top: 30px;
    }


/* Ð—Ð°Ð» Ð´ÑƒÑˆÐµÐ²Ð½Ð¾Ð³Ð¾ Ð·Ð´Ð¾Ñ€Ð¾Ð²ÑŒÑ */

    [data-section="mental"] {
        min-width: 3936px;
        background: 
            url(images/mental/wall.jpg) center / 200px auto repeat;
    }

    [data-section="mental"] .section__floor span {
        background: url(images/mental/floor.jpg) center / 500px;
    }

    [data-section="mental"] .section__granny {
        background: url(images/mental/granny.png) bottom / contain no-repeat;
        width: 270px;
        height: 545px;
        bottom: 26px;
    }

    [data-section="mental"] .section__granny .speech {
        bottom: 92%;
    }

    [data-picture="owl"] {
        left: 350px;
        top: 250px;
        width: 215px;
        height: 182px;
    }

    [data-picture="cat1"] {
        left: 700px;
        top: 100px;
        width: 400px;
        height: 400px;
    }

    [data-picture="corgi"] {
        left: 1247px;
        top: 100px;
        width: 400px;
        height: 400px;
    }

    [data-picture="cat2"] {
        left: 2645px;
        top: 100px;
        width: 465px;
        height: 400px;
    }

    [data-picture="cat3"] {
        left: 3273px;
        top: 100px;
        width: 400px;
        height: 400px;
    }

    [data-picture="night"] {
        left: 1808px;
        top: 100px;
        width: 677px;
        height: 461px;
    }

    [data-picture="cat4"] {
        left: 4100px;
        top: 150px;
        width: 400px;
        height: 400px;
    }


/* Ð—Ð°Ð» Ð°Ð¿ÑÐ½Ñ‹ */

[data-section="apsny"] {
    background: #e8e8e8;
    min-width: 2000px;
}

[data-section="apsny"] .section__floor span {
    background: url(images/apsny/floor.jpg) center / 500px;
}

[data-section="apsny"] .section__granny {
    width: 260px;
    height: 576px;
    bottom: -9px;
}

[data-section="apsny"] .section__granny .speech {
        bottom: 84%;
    }

[data-section="apsny"] .section__granny:before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(images/apsny/granny.png) bottom / contain no-repeat;
}

[data-section="apsny"] .section__granny .bottle {
    position: absolute;
    width: 24px;
    height: 97px;
    background: url(images/apsny/bottle.png) bottom / contain no-repeat;
    bottom: 90px;
    left: 25px;
    z-index: 3;
}

.apsny {
    background: url(images/apsny/apsny.png) bottom / contain no-repeat;
    width: 980px;
    height: 651px;
    bottom: -23px;
    position: absolute;
    z-index: 3;
    left: 500px;
    /* outline: 1px solid; */
}

.apsny-table {
    width: 300px;
    height: 50px;
    background: url(images/table.png) center / 100% 100% no-repeat;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: bold;
    left: 840px;
    top: 100px;
    position: absolute;
    color: #6b0000;
}

/* ÐŸÑ€Ð°Ð·Ð´Ð½Ð¸Ñ‡Ð½Ñ‹Ð¹ Ð·Ð°Ð» */

[data-section="holiday"] {
    min-width: 2200px;
    background: 
        url(images/holiday/wall.jpg) center / 200px auto repeat;
}

[data-section="holiday"]:after {
    display: none;
}

[data-section="holiday"] .section__floor span {
    background: url(images/apsny/floor.jpg) center / 500px;
    /* transform: perspective(2000px) rotate3d(0.3,0,0,62deg); */
}

[data-picture="empress"] {
    left: 1078px;
    top: 100px;
    width: 554px;
    height: 438px;
    transform: translateX(-50%);
}

[data-picture="keanu1"] {
    width: 340px;
    height: 483px;
    left: 350px;
    top: 80px;
}

[data-picture="keanu2"] {
    width: 377px;
    height: 483px;
    left: 1472px;
    top: 80px;
}
