@keyframes shining {
    from {
        filter: drop-shadow(0 0 10px currentColor);
    }
    to {
        filter: drop-shadow(0 0 25px currentColor);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.gallery {
    position: absolute;
    top: 0;
    bottom: -40px;
    min-height: 750px;

    width: 100%;
    background: lightsalmon;

    display: flex;
    overflow: auto;
}

.active {
    cursor: pointer;
    color: goldenrod;
    filter: drop-shadow(0 0 10px currentColor);
}

.active:hover {
    animation-name: shining;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    
}

.wish {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity 400ms;
    z-index: 100;
}

.wish__wrapper {
    position: absolute;
    right: 20px;
    left: 20px;
    width: 300px;
    top: 50%;
    transform: translateY(-50%);
    max-width: calc(100% - 40px);
    margin: auto;
    background: white;
    padding: 20px;
}

.section {
    width: 100vw;
    min-width: 1400px;
    flex-shrink: 0;
    position: relative;
}

.section:after, .section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url(images/concrete.jpg);
    z-index: 3;
}

.section:before {
    left: -10px;
}

.section:after {
    right: -10px;
}

.section__title {
    position: absolute;
    top: 10px;
    min-width: 200px;
    height: 50px;
    background: url(images/table.png) center / 100% 100% no-repeat;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    left: 100px;
}

.section__floor {
    height: 200px;
    bottom: -35px;
    position: absolute;
    z-index: 2;
    left: 0px; right: 0px;
    overflow: hidden;
}

.section__floor span {
    position: absolute;
    top: 0; bottom: 0;
    left: -500px; right: -500px;
    transform: perspective(1000px) rotate3d(0.3,0,0,62deg)
}

.section__granny {
    width: 200px;
    height: 500px;
    position: absolute;
    z-index: 5;
    left: 30px;
    bottom: 50px;
}

.picture {
    position: absolute;
}

.picture__image {
    position: relative;
    width: 100%;
    height: 100%;
    
    border: 40px solid #353535;
}


.picture img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    object-position: center;
}

.picture__caption {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    height: 40px;
    background: url(images/tablelong.png) center / 100% 100% no-repeat;
    text-align: center;
    line-height: 40px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.picture__caption--long {
    background: url(images/tablelong.png) center / 100% 100% no-repeat;
}

.picture__line {
    position: absolute;
    top: calc(100% + 15px);
    left: 0; right: 0;
    
    white-space: nowrap;
    height: 40px;
    background: url(images/tablelong.png) center / 100% 100% no-repeat;
    text-align: center;
    line-height: 40px;
    padding: 0 35px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.picture__line > span {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
}

.picture__line span span {
    position: relative;
}


.frame1 {
    border-width: 40px;
    border-style: solid;
    border-image: url(images/frames/frame1.png) 445 430 stretch;
}


.frame1:before {
    background: #353535;
    content: '';
    position: absolute;
    top: -12px;
    bottom: -15px;
    left: -12px;
    right: -12px;
}

/* Парадный зал */

    [data-section="ceremonial"] {
        min-width: 2101px;
        background: 
            url(images/ceremonial/wall.jpg) center / 200px auto repeat;
    }

    [data-section="ceremonial"]:before {
        display: none;
    }

    [data-section="ceremonial"] .section__floor span {
        background: url(images/ceremonial/floor.jpg) center / 500px;
    }

    [data-section="ceremonial"] .section__granny {
        background: url(images/ceremonial/granny.png) bottom / contain no-repeat;
        right: 50px;
    }

    [data-picture="tiger"] {
        top: 177px;
        left: 351px;
        width: 360px;
        height: 292px;
    }

    [data-picture="monalisa"] {
        left: 878px;
        top: 60px;
        width: 340px;
        height: 470px;
    }

    [data-picture="redhorse"] {
        left: 1371px;
        top: 78px;
        width: 488px;
        height: 440px;
    }


/* Египетский зал */ 
    [data-section="egypt"] {
        min-width: 3800px;
        background: 
            url(images/egypt/wall.jpg) center / 200px auto repeat;
    }

    [data-section="egypt"] .section__floor span {
        background: url(images/egypt/floor.jpg) center / 500px;
        transform: perspective(2000px) rotate3d(0.3,0,0,62deg);
    }

    [data-section="egypt"] .section__granny {
        background: url(images/egypt/granny.png) bottom / contain no-repeat;
        right: -50px;
    }

    [data-section="egypt"] .mummy {
        position: absolute;
        bottom: 40px;
        left: 3245px;
        background: url(images/egypt/mummy.png) center / 110% auto no-repeat;
        width: 468px;
        height: 710px;
        z-index: 3;
    }

    [data-picture="egypt4"] {
        left: 1248px;
        top: 50px;
        width: 730px;
        height: 512px;
    }

    [data-picture="beetle"] {
        left: 877px;
        top: 191px;
        width: 250px;
        height: 251px;
    }

    [data-picture="egypt1"] {
        left: 350px;
        top: 163px;
        width: 391px;
        height: 301px;
    }

    [data-picture="egypt2"] {
        left: 2122px;
        top: 194px;
        width: 404px;
        height: 322px;
    }

    [data-picture="egypt3"] {
        left: 2676px;
        top: 92px;
        width: 439px;
        height: 322px;
    }

/* Мультяшный зал */ 

    [data-section="mult"] {
        min-width: 2879px;
        background-color: #f9a0af;
    }

    [data-section="mult"] .section__floor span {
        background: #01a19d;
    }

    [data-section="mult"] .section__granny {
        background: url(images/mult/granny.png) bottom / contain no-repeat;
        right: -50px;
    }

    [data-picture="bojack"] {
        top: 100px;
        left: 350px;
        width: 332px;
        height: 376px;
    }

    [data-picture="homer1"] {
        top: 100px;
        width: 648px;
        height: 376px;
        left: 2039px;
    }

    [data-picture="hillking"] {
        top: 30px;
        width: 676px;
        height: 530px;
        left: 1234px;
    } 

    [data-picture="homer2"] {
        top: 172px;
        width: 308px;
        height: 210px;
        left: 800px;
    }

/* Зал кино и сериалов */ 

    [data-section="cinema"] {
        color: white;
        min-width: 3166px;
        background: url(images/cinema/wall.jpg) center / 200px repeat;
    }

    [data-section="cinema"] .section__floor span {
        background: url(images/cinema/floor.jpg) center / 500px;
    }

    [data-section="cinema"] .section__granny {
        background: url(images/cinema/granny.jpg) bottom / contain no-repeat;
        right: -50px;
    }

    [data-picture="starwars1"] {
        left: 350px;
        top: 129px;
        width: 479px;
        height: 380px;
    }

    [data-picture="got"] {
        left: 959px;
        width: 440px;
        height: 410px;
        top: 100px;
    }

    [data-picture="starwars2"] {
        left: 1558px;
        top: 42px;
        width: 340px;
        height: 507px;
    }

    [data-picture="friends"] {
        left: 2072px;
        top: 100px;
        width: 326px;
        height: 400px;
    }

    [data-picture="starwars3"] {
        left: 2563px;
        top: 42px;
        width: 340px;
        height: 507px;
    }

/* Буквальный зал */ 

    [data-section="literally"] {
        background-color: #acc8f0;
        min-width: 1750px;
    }

    [data-section="literally"] .section__floor span {
        background: #f987a1;
    }

    [data-section="literally"] .section__granny {
        background: url(images/literally/granny.png) bottom / contain no-repeat;
        right: -50px;
        width: 250px;
    }

    [data-section="literally"] [data-picture] {
        width: 300px;
        height: 300px;
        margin: auto;
    }

    [data-picture="comics1"], [data-picture="comics3"], [data-picture="comics5"] {
        top: 100px;
    }

    [data-picture="comics2"], [data-picture="comics4"] {
        top: 200px;
    }

    [data-picture="comics1"] {
        left: 0%;
        right: 80%;
    }

    [data-picture="comics2"] {
        left: 20%;
        right: 60%;
    }

    [data-picture="comics3"] {
        left: 40%;
        right: 40%;
    }

    [data-picture="comics4"] {
        left: 60%;
        right: 20%;
    }

    [data-picture="comics5"] {
        left: 80%;
        right: 0%;
    }



/* Зал Исаакиевского собора */ 

[data-section="isaak"] {
    width: 150vw;
    min-width: 2100px;
    background: 
        url(images/isaak/wall.jpg) center / 200px auto repeat;
}

[data-section="isaak"] .section__floor span {
    background: url(images/isaak/floor.jpg) center / 500px;
    /* transform: perspective(2000px) rotate3d(0.3,0,0,62deg); */
}

[data-section="isaak"] .section__granny {
    background: url(images/isaak/granny.png) bottom / contain no-repeat;
    right: -50px;
}

[data-picture="isaak1"] {
    top: 60px;
    bottom: calc(100% - 516px);
    left: 0%;
    right: 75%;
    width: 430px;
    height: 313px;
    margin: auto;
}

[data-picture="isaak2"] {
    top: 60px;
    left: 25%;
    right: 25%;
    width: 1000px;
    height: 517px;
    margin: auto;
}

[data-picture="isaak3"] {
    top: 60px;
    bottom: calc(100% - 516px);
    left: 75%;
    right: 0%;
    width: 430px;
    height: 322px;
    margin: auto;
}

/* Рабочий зал */

[data-section="job"] {
    min-width: 3500px;
    background: 
        url(images/job/wall.jpg) center / 200px auto repeat;
}

[data-section="job"] .section__floor span {
    background: url(images/job/floor.jpg) center / 500px;
    /* transform: perspective(2000px) rotate3d(0.3,0,0,62deg); */
}

[data-section="job"] .section__granny {
    background: url(images/job/granny.png) bottom / contain no-repeat;
    right: -50px;
}

.coffeemachine {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 270px;
    z-index: 3;
    height: 686px;
    z-index: 10;
    background: url(images/job/coffeemachine.png) bottom / contain no-repeat;
}

[data-picture="coffee"] {
    left: 337px;
    top: 100px;
    width: 635px;
    height: 400px;
}

[data-picture="bears"] {
    left: 1084px;
    top: 219px;
    width: 406px;
    height: 281px;
}

[data-picture="vitruvian"] {
    left: 1600px;
    width: 400px;
    height: 400px;
    top: 100px;
}

[data-picture="scream"] {
    left: 2100px;
    width: 310px;
    height: 376px;
    top: 124px;
}

[data-picture="dali"] {
    left: 2527px;
    width: 359px;
    height: 281px;
    top: 219px;
}

[data-picture="gun"] {
    left: 2986px;
    width: 264px;
    height: 360px;
    top: 140px;
}

/* Зал физического здоровья */

[data-section="physical"] {
    background: orange;
    min-width: 1800px;
    background: 
        url(images/physical/wall.jpg) center / cover repeat;
}

[data-section="physical"] .section__floor span {
    background: url(images/physical/floor.png) center / 500px;
    /* transform: perspective(2000px) rotate3d(0.3,0,0,62deg); */
}

[data-section="physical"] .section__granny {
    background: url(images/physical/granny.png) bottom / contain no-repeat;
    right: -50px;
}

[data-picture="peaches"] {
    left: 0;
    right: 75%;
    width: 345px;
    height: 386px;
    top: 100px;
    margin: auto;
}

[data-picture="venera"] {
    left: 25%;
    right: 35%;
    width: 634px;
    height: 398px;
    top: 100px;
    margin: auto;
}

[data-picture="yoga"] {
    left: 65%;
    right: 25%;
    width: 210px;
    height: 210px;
    top: 190px;
    margin: auto;
}

[data-picture="ball"] {
    left: 75%;
    right: 0;
    width: 284px;
    height: 400px;
    top: 100px;
    margin: auto;
}


/* Зал душевного здоровья */

[data-section="mental"] {
    min-width: 3436px;
    background: 
        url(images/mental/wall.jpg) center / 200px auto repeat;
}

[data-section="mental"] .section__floor span {
    background: url(images/mental/floor.jpg) center / 500px;
    /* transform: perspective(2000px) rotate3d(0.3,0,0,62deg); */
}

[data-section="mental"] .section__granny {
    background: url(images/mental/granny.png) bottom / contain no-repeat;
    right: -50px;
}

[data-picture="owl"] {
    left: 100px;
    top: 250px;
    width: 215px;
    height: 182px;
}

[data-picture="cat1"] {
    left: 400px;
    top: 150px;
    width: 400px;
    height: 400px;
}

[data-picture="cat2"] {
    left: 1600px;
    top: 150px;
    width: 400px;
    height: 400px;
}

[data-picture="demon"] {
    left: 900px;
    top: 150px;
    width: 617px;
    height: 400px;
}

[data-picture="cat3"] {
    left: 2836px;
    top: 150px;
    width: 400px;
    height: 400px;
}

[data-picture="night"] {
    left: 2108px;
    top: 150px;
    width: 589px;
    height: 400px;
}

[data-picture="cat4"] {
    left: 4100px;
    top: 150px;
    width: 400px;
    height: 400px;
}


/* Зал апсны */

[data-section="apsny"] {
    background: 
        url(images/holiday/wall.jpg) center / 200px auto repeat;
    
}

[data-section="apsny"] .section__floor span {
    background: url(images/apsny/floor.jpg) center / 500px;
    /* transform: perspective(2000px) rotate3d(0.3,0,0,62deg); */
}

[data-section="apsny"] .section__granny {
    background: url(images/apsny/granny.png) bottom / contain no-repeat;
    right: -50px;
}

/* Праздничный зал */

[data-section="holiday"] {
    min-width: 1700px;
    background: 
        url(images/holiday/wall.jpg) center / 200px auto repeat;
}

[data-section="holiday"]:after {
    display: none;
}

[data-section="holiday"] .section__floor span {
    background: url(images/apsny/floor.jpg) center / 500px;
    /* transform: perspective(2000px) rotate3d(0.3,0,0,62deg); */
}

[data-picture="empress"] {
    left: 50%;
    top: 169px;
    width: 554px;
    height: 415px;
    transform: translateX(-50%);
}

[data-picture="keanu1"] {
    width: 300px;
    height: 470px;
    left: calc(50% - 700px);
    top: 100px;
}

[data-picture="keanu2"] {
    width: 300px;
    height: 405px;
    left: calc(50% + 400px);
    top: 100px;
}
